body {
    position: relative;

    .topbar {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: -30px;
        padding: 1.625rem;
        border-radius: 5px;
        box-shadow: $desaturatedDarkCyan 0px 11px 25px -10px;  
        text-align: center;
        font-size: $font-med;
        font-weight: 700;
        color: $veryDarkGrayish;
    }
}

.container {
    margin: 100px auto;
    width: 70%;

    .item {
        position: relative;
        background: $white;
        margin: 20px auto;
        padding: 16px;
        border-radius: 5px;
        box-shadow: $desaturatedDarkCyan 0px 8px 15px -10px;  
        
        .info-wrap {
            display: flex;
            justify-content: space-between;

            .info {

                .item-number {
                    margin-top: 0px;
                    margin-left: 6px;
                    margin-bottom: 0px;
                    font-size: $font-sm;
                    font-weight: 100;
                    opacity: 0.5;
                }
            
                .item-name {
                    margin-top: 0px;
                    margin-left: 6px;
                    margin-bottom: 0px;
                    font-size: 28px;
                    font-weight: 500;
                    color: $desaturatedDarkCyan;
                    
                }           
            }

            .total-price {
                font-size: $font-sm;
                position: absolute;
                right: 16px;
                bottom: 0px;
            }

            .remove-wrap {
                margin-top: -2px;

                .delete {
                    color: $lightGrayishCyan;
                    font-weight: bold;
                    background: $grayishBlue;
                    padding: 0.5em 0.58em 0.58em ;
                    font-size: 0.75em;
                    border-radius: 100%;
                    line-height: 0.7;
                    border: none;
                }
            }
        }
    }
}

//To improve: Less html tags and reduce useless attribute 

