//colors

$lightGrayishCyan: hsl(180, 52%, 96%);
$desaturatedDarkCyan: hsl(180, 29%, 50%);
$lightGrayishCyanFilter: hsl(180, 31%, 95%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayish: hsl(180, 14%, 20%);

$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//font size
$font-med: 24px;
$font-sm: 16px;
