html {
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: hsl(180deg, 52%, 96%);
  font-family: "Public Sans", sans-serif;
}

.click-button {
  cursor: pointer;
}
.click-button:hover {
  opacity: 0.5;
  transition: all 0.4s ease;
}

h2 {
  color: hsl(180deg, 29%, 50%);
  margin: 0px 0px -5px 2px;
  font-size: 28px;
  font-weight: 500;
}

header img {
  width: 100%;
  background-color: hsl(180deg, 29%, 50%);
  font-family: "Public Sans", sans-serif;
}

body {
  position: relative;
}
body .topbar {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0deg, 0%, 100%);
  margin-top: -30px;
  padding: 1.625rem;
  border-radius: 5px;
  box-shadow: hsl(180deg, 29%, 50%) 0px 11px 25px -10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: hsl(180deg, 14%, 20%);
}

.container {
  margin: 100px auto;
  width: 70%;
}
.container .item {
  position: relative;
  background: hsl(0deg, 0%, 100%);
  margin: 20px auto;
  padding: 16px;
  border-radius: 5px;
  box-shadow: hsl(180deg, 29%, 50%) 0px 8px 15px -10px;
}
.container .item .info-wrap {
  display: flex;
  justify-content: space-between;
}
.container .item .info-wrap .info .item-number {
  margin-top: 0px;
  margin-left: 6px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 100;
  opacity: 0.5;
}
.container .item .info-wrap .info .item-name {
  margin-top: 0px;
  margin-left: 6px;
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 500;
  color: hsl(180deg, 29%, 50%);
}
.container .item .info-wrap .total-price {
  font-size: 16px;
  position: absolute;
  right: 16px;
  bottom: 0px;
}
.container .item .info-wrap .remove-wrap {
  margin-top: -2px;
}
.container .item .info-wrap .remove-wrap .delete {
  color: hsl(180deg, 52%, 96%);
  font-weight: bold;
  background: hsl(233deg, 8%, 62%);
  padding: 0.5em 0.58em 0.58em;
  font-size: 0.75em;
  border-radius: 100%;
  line-height: 0.7;
  border: none;
}

.footer {
  background: hsl(0deg, 0%, 100%);
  margin: 20px auto;
  padding: 1.625rem;
  border-radius: 5px;
  box-shadow: hsl(180deg, 29%, 50%) 0px 8px 15px -10px;
}
.footer-wrap {
  background: hsl(220deg, 16%, 96%);
  border-radius: inherit;
  border-left: solid hsl(233deg, 8%, 62%);
  display: flex;
  justify-content: center;
}
.footer-wrap-title {
  margin-right: 20px;
}
.footer-wrap-title ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px;
}
.footer-wrap-title ul li {
  margin: 10px auto;
  text-align: center;
  color: hsl(180deg, 14%, 20%);
}
.footer-wrap-numbers ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px;
}
.footer-wrap-numbers ul li {
  margin: 10px auto;
  text-align: center;
  color: hsl(180deg, 14%, 20%);
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: hsl(180deg, 52%, 96%);
  top: -5px;
  transition: all 0.25s ease;
}

#add-items {
  padding: 0px;
}

.add-container {
  justify-content: center;
  padding-top: 10px;
}
.add-container .styled-input {
  margin: 20px 0px 0px 0px;
  padding: 0px 10px;
  position: relative;
  border-radius: 4px;
}
.add-container .styled-input label {
  color: hsl(233deg, 8%, 62%);
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 0px;
  left: -5px;
  transition: all 0.25s ease;
  pointer-events: none;
}
.add-container .styled-input input {
  text-align: center;
  padding: 20px;
  border: 0;
  border-left: solid hsl(233deg, 8%, 62%);
  font-size: 1rem;
  background-color: hsl(220deg, 16%, 96%);
  color: hsl(180deg, 14%, 20%);
  border-radius: 4px;
  width: 100%;
}
.add-container .styled-input input:focus {
  outline: 0;
}
.add-container .add-button {
  border: none;
  color: hsl(180deg, 52%, 96%);
  background-color: hsl(233deg, 8%, 62%);
  font-weight: 300;
  font-size: 0.8rem;
  padding: 3px;
  width: 20%;
  margin-bottom: 10px;
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 500ms ease-in-out forwards;
          animation: fade-in 500ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 500ms ease-in-out forwards;
          animation: fade-out 500ms ease-in-out forwards;
}/*# sourceMappingURL=style.css.map */